node_modules/
.next/
.cursor/
.env.local
.insforge/
.dev-server.log

# InsForge & AI agent skills
.insforge
.agent
.agents
.augment
.claude
.cline
.github/copilot*
.kilocode
.qoder
.qwen
.roo
.trae
.windsurf
